In [16]:
import seaborn as sns
import pandas as pd
df = sns.load_dataset("iris")

In [15]:
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)

# Add target column
df['target'] = iris.target

In [2]:
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

1. List all species in lowercase using list comprehension (no duplicates).
Expected Output:

['setosa', 'versicolor', 'virginica']

In [4]:
list(set(df['species']))

['setosa', 'virginica', 'versicolor']

In [5]:
list({s.lower() for s in df['species']})

['setosa', 'virginica', 'versicolor']

2. Create a new column called petal_area using vectorized operation.

In [6]:
df['petal_area'] = df['petal_width']*df['petal_length']

3. Find the average sepal_length for each species, and return as a dictionary.

In [8]:
df.groupby('species')['sepal_length'].mean().to_dict()

{'setosa': 5.006, 'versicolor': 5.936, 'virginica': 6.587999999999999}

Using list comprehension, create a list of all rows where petal length > 5.

In [18]:
rows = [row for _, row in df.iterrows() if row['petal_length'] > 5]
pd.DataFrame(rows).reset_index()

    index  sepal_length  sepal_width  petal_length  petal_width     species
0      83           6.0          2.7           5.1          1.6  versicolor
1     100           6.3          3.3           6.0          2.5   virginica
2     101           5.8          2.7           5.1          1.9   virginica
3     102           7.1          3.0           5.9          2.1   virginica
4     103           6.3          2.9           5.6          1.8   virginica
5     104           6.5          3.0           5.8          2.2   virginica
6     105           7.6          3.0           6.6          2.1   virginica
7     107           7.3          2.9           6.3          1.8   virginica
8     108           6.7          2.5           5.8          1.8   virginica
9     109           7.2          3.6           6.1          2.5   virginica
10    110           6.5          3.2           5.1          2.0   virginica
11    111           6.4          2.7           5.3          1.9   virginica
12    112           6.8          3.0           5.5          2.1   virginica
13    114           5.8          2.8           5.1          2.4   virginica
14    115           6.4          3.2           5.3          2.3   virginica
15    116           6.5          3.0           5.5          1.8   virginica
16    117           7.7          3.8           6.7          2.2   virginica
17    118           7.7          2.6           6.9          2.3   virginica
18    120           6.9          3.2           5.7          2.3   virginica
19    122           7.7          2.8           6.7          2.0   virginica
20    124           6.7          3.3           5.7          2.1   virginica
21    125           7.2          3.2           6.0          1.8   virginica
22    128           6.4          2.8           5.6          2.1   virginica
23    129           7.2          3.0           5.8          1.6   virginica
24    130           7.4          2.8           6.1          1.9   virginica
25    131           7.9          3.8           6.4          2.0   virginica
26    132           6.4          2.8           5.6          2.2   virginica
27    133           6.3          2.8           5.1          1.5   virginica
28    134           6.1          2.6           5.6          1.4   virginica
29    135           7.7          3.0           6.1          2.3   virginica
30    136           6.3          3.4           5.6          2.4   virginica
31    137           6.4          3.1           5.5          1.8   virginica
32    139           6.9          3.1           5.4          2.1   virginica
33    140           6.7          3.1           5.6          2.4   virginica
34    141           6.9          3.1           5.1          2.3   virginica
35    142           5.8          2.7           5.1          1.9   virginica
36    143           6.8          3.2           5.9          2.3   virginica
37    144           6.7          3.3           5.7          2.5   virginica
38    145           6.7          3.0           5.2          2.3   virginica
39    147           6.5          3.0           5.2          2.0   virginica
40    148           6.2          3.4           5.4          2.3   virginica
41    149           5.9          3.0           5.1          1.8   virginica

In [28]:
df[(df['petal_length'] >5) & (df['sepal_width'] <3)].reset_index()

    index  sepal_length  sepal_width  petal_length  petal_width     species
0      83           6.0          2.7           5.1          1.6  versicolor
1     101           5.8          2.7           5.1          1.9   virginica
2     103           6.3          2.9           5.6          1.8   virginica
3     107           7.3          2.9           6.3          1.8   virginica
4     108           6.7          2.5           5.8          1.8   virginica
5     111           6.4          2.7           5.3          1.9   virginica
6     114           5.8          2.8           5.1          2.4   virginica
7     118           7.7          2.6           6.9          2.3   virginica
8     122           7.7          2.8           6.7          2.0   virginica
9     128           6.4          2.8           5.6          2.1   virginica
10    130           7.4          2.8           6.1          1.9   virginica
11    132           6.4          2.8           5.6          2.2   virginica
12    133           6.3          2.8           5.1          1.5   virginica
13    134           6.1          2.6           5.6          1.4   virginica
14    142           5.8          2.7           5.1          1.9   virginica

In [33]:
df.query('petal_length > 5 and sepal_width < 3').reset_index()

    index  sepal_length  sepal_width  petal_length  petal_width     species
0      83           6.0          2.7           5.1          1.6  versicolor
1     101           5.8          2.7           5.1          1.9   virginica
2     103           6.3          2.9           5.6          1.8   virginica
3     107           7.3          2.9           6.3          1.8   virginica
4     108           6.7          2.5           5.8          1.8   virginica
5     111           6.4          2.7           5.3          1.9   virginica
6     114           5.8          2.8           5.1          2.4   virginica
7     118           7.7          2.6           6.9          2.3   virginica
8     122           7.7          2.8           6.7          2.0   virginica
9     128           6.4          2.8           5.6          2.1   virginica
10    130           7.4          2.8           6.1          1.9   virginica
11    132           6.4          2.8           5.6          2.2   virginica
12    133           6.3          2.8           5.1          1.5   virginica
13    134           6.1          2.6           5.6          1.4   virginica
14    142           5.8          2.7           5.1          1.9   virginica

From the original DataFrame, get a list of tuples in the format: (species, sepal_area) where sepal_area = sepal_length * sepal_width, but only if petal_length > 4.

In [38]:
[(row['species'], row['sepal_length'] * row['sepal_width']) for _, row in df.iterrows() if row['petal_length'] > 4]

[('versicolor', 22.400000000000002),
 ('versicolor', 20.480000000000004),
 ('versicolor', 21.39),
 ('versicolor', 18.2),
 ('versicolor', 15.959999999999999),
 ('versicolor', 20.79),
 ('versicolor', 19.139999999999997),
 ('versicolor', 17.700000000000003),
 ('versicolor', 17.689999999999998),
 ('versicolor', 20.77),
 ('versicolor', 16.799999999999997),
 ('versicolor', 15.66),
 ('versicolor', 13.640000000000002),
 ('versicolor', 18.880000000000003),
 ('versicolor', 15.75),
 ('versicolor', 17.08),
 ('versicolor', 18.56),
 ('versicolor', 19.799999999999997),
 ('versicolor', 19.04),
 ('versicolor', 20.1),
 ('versicolor', 17.4),
 ('versicolor', 16.200000000000003),
 ('versicolor', 16.200000000000003),
 ('versicolor', 20.4),
 ('versicolor', 20.77),
 ('versicolor', 14.489999999999998),
 ('versicolor', 16.799999999999997),
 ('versicolor', 14.3),
 ('versicolor', 18.299999999999997),
 ('versicolor', 15.12),
 ('versicolor', 17.1),
 ('versicolor', 16.53),
 ('versicolor', 17.98),
 ('versicolor', 15.959999999999999),
 ('virginica', 20.79),
 ('virginica', 15.66),
 ('virginica', 21.299999999999997),
 ('virginica', 18.27),
 ('virginica', 19.5),
 ('virginica', 22.799999999999997),
 ('virginica', 12.25),
 ('virginica', 21.169999999999998),
 ('virginica', 16.75),
 ('virginica', 25.92),
 ('virginica', 20.8),
 ('virginica', 17.28),
 ('virginica', 20.4),
 ('virginica', 14.25),
 ('virginica', 16.24),
 ('virginica', 20.480000000000004),
 ('virginica', 19.5),
 ('virginica', 29.259999999999998),
 ('virginica', 20.02),
 ('virginica', 13.200000000000001),
 ('virginica', 22.080000000000002),
 ('virginica', 15.679999999999998),
 ('virginica', 21.56),
 ('virginica', 17.01),
 ('virginica', 22.11),
 ('virginica', 23.040000000000003),
 ('virginica', 17.36),
 ('virginica', 18.299999999999997),
 ('virginica', 17.919999999999998),
 ('virginica', 21.6),
 ('virginica', 20.72),
 ('virginica', 30.02),
 ('virginica', 17.919999999999998),
 ('virginica', 17.639999999999997),
 ('virginica', 15.86),
 ('virginica', 23.1),
 ('virginica', 21.419999999999998),
 ('virginica', 19.840000000000003),
 ('virginica', 18.0),
 ('virginica', 21.39),
 ('virginica', 20.77),
 ('virginica', 21.39),
 ('virginica', 15.66),
 ('virginica', 21.76),
 ('virginica', 22.11),
 ('virginica', 20.1),
 ('virginica', 15.75),
 ('virginica', 19.5),
 ('virginica', 21.08),
 ('virginica', 17.700000000000003)]

Using groupby, get the max petal_width per species, but return as a list of tuples.

In [43]:
df.groupby('species')['petal_width'].max().to_dict()

{'setosa': 0.6, 'versicolor': 1.8, 'virginica': 2.5}

In [44]:
list(df.groupby('species')['petal_width'].max().items())

[('setosa', 0.6), ('versicolor', 1.8), ('virginica', 2.5)]

Create a list of all petal lengths rounded to 1 decimal place using list comprehension.

Without using groupby, calculate the mean sepal_length for each species using list comprehension and filtering

In [50]:
species = df['species'].unique()
[(s, df[df['species']== s]['sepal_width'].mean()) for s in species]

[('setosa', 3.428), ('versicolor', 2.7700000000000005), ('virginica', 2.974)]

1. For each species, find the data point with the maximum sepal area (sepal_length × sepal_width). Return as a DataFrame.

In [57]:
df['sepal_area'] = df['sepal_length']*df['sepal_width']
df.groupby('species')['sepal_area'].max()

species
setosa        25.08
versicolor    22.40
virginica     30.02
Name: sepal_area, dtype: float64

In [59]:
df['sepal_area'] = df['sepal_length'] * df['sepal_width']
df_max_area = df.loc[df.groupby('species')['sepal_area'].idxmax()].reset_index(drop=True)
df_max_area

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_area
0,5.7,4.4,1.5,0.4,setosa,25.08
1,7.0,3.2,4.7,1.4,versicolor,22.40
2,7.9,3.8,6.4,2.0,virginica,30.02

In [79]:
df.loc[df.groupby('species')['sepal_area'].idxmax()][['species','sepal_area']].reset_index(drop = True)

      species  sepal_area
0      setosa       25.08
1  versicolor       22.40
2   virginica       30.02

Create a wide-format summary where each species is a column, and the values are the mean petal length. One row only.

In [65]:
df.pivot_table(values=['petal_length', 'petal_width'], columns='species', aggfunc='mean').reset_index()

species         index  setosa  versicolor  virginica
0        petal_length   1.462       4.260      5.552
1         petal_width   0.246       1.326      2.026

Create a column "label" such that:
Setosa = 0
Versicolor = 1
Virginica = 2
(without using map or replace)

In [70]:
species = df['species'].unique()
df['label'] = [list(species).index(s) for s in df['species']]

 Compute the Pearson correlation between sepal_length and petal_length per species using a one-liner. Return as a dict.

In [72]:
df.groupby('species').apply(lambda x: x['sepal_length'].corr(x['sepal_width'])).to_dict()

{'setosa': 0.7425466856651597,
 'versicolor': 0.5259107172828243,
 'virginica': 0.4572278163941129}

 Using a nested list comprehension, create a 2D list of petal_length values binned as: <2, 2-5, >5, per species

In [80]:
bins = lambda x: '<2' if x < 2 else '>5' if x > 5 else '2-5'
binned = [
    [bins(row['petal_length']) for _, row in df[df['species'] == sp].iterrows()]
    for sp in df['species'].unique()
]

In [94]:
df['petal_len_label'] = df.groupby('species')['petal_length'].transform(\
    (lambda x: ['small' if y < x.mean() \
                else 'medium' if y < x.mean() + 0.5 \
                else 'large' for y in x]))

In [95]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_area,label,petal_len_label
0,5.1,3.5,1.4,0.2,setosa,17.85,0,small
1,4.9,3.0,1.4,0.2,setosa,14.70,0,small
2,4.7,3.2,1.3,0.2,setosa,15.04,0,small
3,4.6,3.1,1.5,0.2,setosa,14.26,0,medium
4,5.0,3.6,1.4,0.2,setosa,18.00,0,small
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,20.10,2,small
146,6.3,2.5,5.0,1.9,virginica,15.75,2,small
147,6.5,3.0,5.2,2.0,virginica,19.50,2,small
148,6.2,3.4,5.4,2.3,virginica,21.08,2,small
149,5.9,3.0,5.1,1.8,virginica,17.70,2,small

Without using apply, add a column that categorizes petal_length as 'short', 'medium', 'long' (thresholds: <3, 3-5, >5). Use only np.select or list comprehension.

In [96]:
df['petal_size'] = ['short' if y < 3\
                    else 'medium' if y <5 \
                    else 'long' for y in df['petal_length']]

Using one line of code, count how many rows have sepal_length > mean of their species

In [100]:
df.groupby('species')['sepal_length'].transform(lambda x : [1 if y > x.mean() else 0 for y in x])

0      1
1      0
2      0
3      0
4      0
      ..
145    1
146    0
147    0
148    0
149    0
Name: sepal_length, Length: 150, dtype: int64

In [102]:
#count = sum(df['sepal_length'] > df.groupby('species')['sepal_length'].transform('mean'))
sum(df['sepal_length'] > df.groupby('species')['sepal_length'].transform('mean'))

68

In [106]:
df[df['sepal_length'] > df.groupby('species')['sepal_length'].transform('mean')].groupby('species').size()

species
setosa        22
versicolor    24
virginica     22
dtype: int64

Find the top 2 petal widths per species (without sorting the whole DataFrame). Return as a dict of lists

In [113]:
df.groupby('species')['petal_width'].apply(lambda x :x.nlargest(2).to_list()).to_dict()

{'setosa': [0.6, 0.5], 'versicolor': [1.8, 1.7], 'virginica': [2.5, 2.5]}

From the last 10 rows of the dataset, return a list of tuples of (sepal_length, petal_length) where petal_width > 1.5

In [114]:
filtered = [(r['sepal_length'], r['petal_length']) for _, r in df.tail(10).iterrows() if r['petal_width'] > 1.5]
filtered

[(6.7, 5.6),
 (6.9, 5.1),
 (5.8, 5.1),
 (6.8, 5.9),
 (6.7, 5.7),
 (6.7, 5.2),
 (6.3, 5.0),
 (6.5, 5.2),
 (6.2, 5.4),
 (5.9, 5.1)]

One-liner to count how many samples in the dataset are "balanced", i.e., sepal_length ≈ petal_length (difference < 0.5)

In [117]:
sum(abs(df['sepal_length'] - df['petal_length'] <0.5))

2

Add a column with the previous row's petal_length.

In [120]:
df['petal_length_prev']= df['petal_length'].shift(1)
df

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_area,label,petal_len_label,petal_size,petal_length_prev
0,5.1,3.5,1.4,0.2,setosa,17.85,0,small,short,NaN
1,4.9,3.0,1.4,0.2,setosa,14.70,0,small,short,1.4
2,4.7,3.2,1.3,0.2,setosa,15.04,0,small,short,1.4
3,4.6,3.1,1.5,0.2,setosa,14.26,0,medium,short,1.3
4,5.0,3.6,1.4,0.2,setosa,18.00,0,small,short,1.5
...,...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,20.10,2,small,long,5.7
146,6.3,2.5,5.0,1.9,virginica,15.75,2,small,long,5.2
147,6.5,3.0,5.2,2.0,virginica,19.50,2,small,long,5.0
148,6.2,3.4,5.4,2.3,virginica,21.08,2,small,long,5.2
149,5.9,3.0,5.1,1.8,virginica,17.70,2,small,long,5.4

Add a column showing the petal_width of the next row within each species.

In [121]:
df['petal_width'] = df.groupby('species')['petal_width'].shift(-1)

In [122]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_area,label,petal_len_label,petal_size,petal_length_prev
0,5.1,3.5,1.4,0.2,setosa,17.85,0,small,short,NaN
1,4.9,3.0,1.4,0.2,setosa,14.70,0,small,short,1.4
2,4.7,3.2,1.3,0.2,setosa,15.04,0,small,short,1.4
3,4.6,3.1,1.5,0.2,setosa,14.26,0,medium,short,1.3
4,5.0,3.6,1.4,0.4,setosa,18.00,0,small,short,1.5
...,...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,1.9,virginica,20.10,2,small,long,5.7
146,6.3,2.5,5.0,2.0,virginica,15.75,2,small,long,5.2
147,6.5,3.0,5.2,2.3,virginica,19.50,2,small,long,5.0
148,6.2,3.4,5.4,1.8,virginica,21.08,2,small,long,5.2
149,5.9,3.0,5.1,NaN,virginica,17.70,2,small,long,5.4

Compute the difference in sepal_length from the previous row (within species)

In [123]:
df['sepal_length_delta'] = df['sepal_length'] - df.groupby('species')['sepal_length'].shift(1)
df

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_area,label,petal_len_label,petal_size,petal_length_prev,sepal_length_delta
0,5.1,3.5,1.4,0.2,setosa,17.85,0,small,short,NaN,NaN
1,4.9,3.0,1.4,0.2,setosa,14.70,0,small,short,1.4,-0.2
2,4.7,3.2,1.3,0.2,setosa,15.04,0,small,short,1.4,-0.2
3,4.6,3.1,1.5,0.2,setosa,14.26,0,medium,short,1.3,-0.1
4,5.0,3.6,1.4,0.4,setosa,18.00,0,small,short,1.5,0.4
...,...,...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,1.9,virginica,20.10,2,small,long,5.7,0.0
146,6.3,2.5,5.0,2.0,virginica,15.75,2,small,long,5.2,-0.4
147,6.5,3.0,5.2,2.3,virginica,19.50,2,small,long,5.0,0.2
148,6.2,3.4,5.4,1.8,virginica,21.08,2,small,long,5.2,-0.3
149,5.9,3.0,5.1,NaN,virginica,17.70,2,small,long,5.4,-0.3

Flag rows where petal_length is greater than the next row’s petal_length (within species)

In [126]:
df['is_peak'] = (
    (df['petal_length'] > df.groupby('species')['petal_length'].shift(-1))
    .astype(int))
df

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_area,label,petal_len_label,petal_size,petal_length_prev,sepal_length_delta,is_peak
0,5.1,3.5,1.4,0.2,setosa,17.85,0,small,short,NaN,NaN,0
1,4.9,3.0,1.4,0.2,setosa,14.70,0,small,short,1.4,-0.2,1
2,4.7,3.2,1.3,0.2,setosa,15.04,0,small,short,1.4,-0.2,0
3,4.6,3.1,1.5,0.2,setosa,14.26,0,medium,short,1.3,-0.1,1
4,5.0,3.6,1.4,0.4,setosa,18.00,0,small,short,1.5,0.4,0
...,...,...,...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,1.9,virginica,20.10,2,small,long,5.7,0.0,1
146,6.3,2.5,5.0,2.0,virginica,15.75,2,small,long,5.2,-0.4,0
147,6.5,3.0,5.2,2.3,virginica,19.50,2,small,long,5.0,0.2,0
148,6.2,3.4,5.4,1.8,virginica,21.08,2,small,long,5.2,-0.3,1
149,5.9,3.0,5.1,NaN,virginica,17.70,2,small,long,5.4,-0.3,0

In [141]:
import numpy as np
from scipy.stats import zscore 
num_cols = df.select_dtypes(np.number).columns
df = df.dropna()
df_zs = df[num_cols]
df_zs = df_zs.apply(zscore)
df_zs

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,label,petal_length_prev,sepal_length_delta,is_peak
1,-1.136288,-0.118327,-1.340197,-1.317590,-0.914118,-1.224745,-1.344250,-0.254963,1.150035
2,-1.377091,0.336048,-1.397059,-1.317590,-0.813642,-1.224745,-1.344250,-0.254963,-0.869539
3,-1.497492,0.108861,-1.283335,-1.317590,-1.044146,-1.224745,-1.400917,-0.118983,1.150035
4,-1.015887,1.244797,-1.340197,-1.052969,0.061094,-1.224745,-1.287584,0.560918,-0.869539
5,-0.534281,1.926359,-1.169612,-1.185279,0.965382,-1.224745,-1.344250,0.560918,1.150035
...,...,...,...,...,...,...,...,...,...
144,1.030937,0.563235,1.104853,1.460926,1.275677,1.224745,1.205733,-0.118983,1.150035
145,1.030937,-0.118327,0.820545,0.931685,0.681684,1.224745,1.092400,0.016998,1.150035
146,0.549331,-1.254263,0.706822,1.063995,-0.603823,1.224745,0.809069,-0.526923,-0.869539
147,0.790134,-0.118327,0.820545,1.460926,0.504373,1.224745,0.695736,0.288958,-0.869539
148,0.428930,0.790422,0.934268,0.799374,0.971293,1.224745,0.809069,-0.390943,1.150035

In [143]:
z_scores = np.abs(zscore(df_zs))
z_scores

,sepal_length,sepal_width,petal_length,petal_width,sepal_area,label,petal_length_prev,sepal_length_delta,is_peak
1,1.136288,0.118327,1.340197,1.317590,0.914118,1.224745,1.344250,0.254963,1.150035
2,1.377091,0.336048,1.397059,1.317590,0.813642,1.224745,1.344250,0.254963,0.869539
3,1.497492,0.108861,1.283335,1.317590,1.044146,1.224745,1.400917,0.118983,1.150035
4,1.015887,1.244797,1.340197,1.052969,0.061094,1.224745,1.287584,0.560918,0.869539
5,0.534281,1.926359,1.169612,1.185279,0.965382,1.224745,1.344250,0.560918,1.150035
...,...,...,...,...,...,...,...,...,...
144,1.030937,0.563235,1.104853,1.460926,1.275677,1.224745,1.205733,0.118983,1.150035
145,1.030937,0.118327,0.820545,0.931685,0.681684,1.224745,1.092400,0.016998,1.150035
146,0.549331,1.254263,0.706822,1.063995,0.603823,1.224745,0.809069,0.526923,0.869539
147,0.790134,0.118327,0.820545,1.460926,0.504373,1.224745,0.695736,0.288958,0.869539
148,0.428930,0.790422,0.934268,0.799374,0.971293,1.224745,0.809069,0.390943,1.150035

In [144]:
def clean_dataframe(df, missing_threshold=0.4, zscore_threshold=3):
    """
    Cleans a DataFrame by:
    1. Dropping columns with missing values > missing_threshold
    2. Imputing remaining missing values with median
    3. Removing rows with Z-score outliers (absolute Z > zscore_threshold)

    Parameters:
        df (pd.DataFrame): The input DataFrame
        missing_threshold (float): Max allowed missing % per column (0.0 - 1.0)
        zscore_threshold (float): Threshold for Z-score based outlier removal

    Returns:
        pd.DataFrame: Cleaned DataFrame
    """
    df = df.copy()

    # Step 1: Drop columns with too many missing values
    df = df.loc[:, df.isnull().mean() <= missing_threshold]

    # Step 2: Impute remaining missing values using median
    df = df.fillna(df.median(numeric_only=True))

    # Step 3: Remove outliers using Z-score
    numeric_cols = df.select_dtypes(include=[np.number]).columns
    z_scores = np.abs(zscore(df[numeric_cols]))

    # Keep rows where all z-scores are below threshold
    df = df[(z_scores < zscore_threshold).all(axis=1)]

    return df

In [146]:
df.shape

(144, 12)